$bgr: #F9F9FB;
$primary: #ED374D;
$secondary: #4B0082;
$border: #D9DF01;

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
   margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  background-color: $bgr;
}

.f-row {
  display: flex;
  align-items: center;
}

.f-col {
  display: flex;
  flex-direction: column;
}

.hide {
  display: none;
}


nav {
  width: 100%;
  height: auto;
  padding: .5em;
  background-color: white;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  z-index: 3;
  position: fixed;
  top: 0;

  .navContainer {
      background-color: white;
  }
  a {
    text-decoration: none;
  }
  #menuContainer {
    width: 100vw;
    height: 100vh;
    top:0;
    left: 0;
    position: absolute;
    background-color: white;
    .menuBtns {
      width: 90%;
      height: fit-content;
      margin: 2rem 1rem;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .closeBtn {
        cursor: pointer;
      }
    }
    .menuList {
      padding: 3rem 2rem;
      ul {
        list-style: none;
        font-size: 29px;

        li {
          margin: 2rem 0;
          cursor: pointer;
          &:hover {
            width: 100vw;
            color: white;
            background: black;
          }
        }
      }
    }
    .rrss {
      margin-left: 4rem;
      width: 80%;

      img {
        width: 12%;
        margin: 0 1rem 0 0;
        cursor: pointer;
      }
    }
  }

}

main {
  margin-top: 73px;
}

#hero {
  background-image: url('./assets/bckg-mob-1.png');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 1000px;
  .titleContainer {
    padding: 1em;
  }
  img {
    width: 100%;
    height:auto;
  }
  h1 {
    margin-top: 2rem;
    text-align: center;
  }
  p {
    text-align: center;
  }
  .btns {
    display: flex;
    flex-direction: column;
    align-items: center;
    button {
      padding: 1rem 2rem;
    }
    .rrss {
      margin: 2rem;
      display: flex;
      width: 120px;
      height: auto;
      img {
        margin: 0 .5rem;
      }
    }
  }
  .arrowDown {
    width: 100%;
    height: auto;

    img {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 50%;
    }
  }
}

#services {
  background: transparent;
  margin-top: -33%;
  margin-bottom: 33%;
  display: flex;
  flex-direction: column;
  align-items: center;
  .decoration {
    width: 100%;
    padding: 0 0.5rem;
    z-index: 1;
    img {
      width: 30%;
      float: right;
    }
  }
  .serviceCard {
    width: 90%;
    background-color: white;
    border-radius: 10%;
    padding: 2rem;
    margin-top: -9%;
    margin-bottom: 3rem;
    border: $border 1px solid;
  }
  button {
    font-size: .7rem;
    padding: 0.02rem 1.75rem;
    display: flex;
    align-items: center;
    span {
      margin: 0.5rem 0 0.5rem 0.5rem;
      img {
        width: 70%;
        height: auto;
      }
    }
  }

}
#services-cont {
  width: 100%;
  align-items: center;
  margin: 6rem 0;
  background-image: url(./assets/bckg-black.png);
  background-repeat: no-repeat;
  background-size: cover;

  div {
    width: 100%;
    height: auto;
  }
  .serviceCard-2 {
    width: 360px;
    height: 283px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 2rem;
    margin-top: -18%;
    margin-bottom: 3rem;
    background-color: white;
    border-radius: 20%;

    p {
      text-align: center;
    }
  }
  img {
    width: 100%;
    height: auto;
  }
  button {
    color: white;
    padding: 1rem 2rem;
  }
}
.cta {
  width: fit-content;
  height: auto;
  margin: 3rem auto;
  button {
    display: flex;
    align-items: center;
    color: white;
    font-size: small;

    span {
      margin: 0 .5rem;
    }
  }
}
#servicesPill {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(./assets/bckg-deg-2.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0% 115%;


  .pills {
    text-align: center;
    margin-top: -20%;
    margin-bottom: 35%;

    img {
      margin: 2rem 0;
    }
  }
}
.serviceCard-3 {
  background: #FE8519;
  box-shadow: 40px 40px 100px rgba(24, 48, 63, 0.5);
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .frontCard {
    width: 95%;
    background-color: white;
    border-radius: 40px;
    padding: 6rem 1rem;

    button {
      margin-top: 1.5rem;
    }
  }
  .dropBckg {
    width: 100%;
    height: auto;
    justify-content: end;

    div {
      margin-left: 3rem;

      p {
        font-size: 2em;
      }
    }
  }
}
#contact {
  width: 100%;
  height: auto;
  margin: 8rem 0;
  h2 {
    margin: 2rem;
    font-size: 4em;
  }
  div {
    margin: 1rem;
  }
}
footer {
  background-color: black;
  width: 100%;
  height: auto;
  p {
    padding: 1rem 0;
  }
}

#nav-mobile, #nav-desktop {
  align-items: center;
  justify-content: space-between;
  padding: 1em;

  .menuIcon {
    cursor: pointer;
  }
}

@media screen and (min-width: 480px) {
  main {
    margin-top: 73px;
  }

  #hero {
    background-image: url('./assets/bckg-mob-1.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 1000px;
    .titleContainer {
      padding: 1em;
    }
    img {
      width: 100%;
      height:auto;
    }
    h1 {
      margin-top: 2rem;
      text-align: center;
    }
    p {
      text-align: center;
    }
    .btns {
      display: flex;
      flex-direction: column;
      align-items: center;
      button {
        padding: 1rem 2rem;
      }
      .rrss {
        margin: 2rem;
        display: flex;
        width: 120px;
        height: auto;
        img {
          margin: 0 .5rem;
        }
      }
    }
    .arrowDown {
      width: 100%;
      height: auto;

      img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
      }
    }
  }

  #services {
    background: transparent;
    margin-top: -33%;
    margin-bottom: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
    .decoration {
      width: 100%;
      padding: 0 0.5rem;
      z-index: 1;
      img {
        float: right;
      }
    }
    .serviceCard {
      width: 90%;
      background-color: white;
      border-radius: 10%;
      padding: 2rem;
      margin-top: -9%;
      margin-bottom: 3rem;
      border: $border 1px solid;
    }
    button {
      font-size: .7rem;
      padding: 0.02rem 1.75rem;
      display: flex;
      align-items: center;
      span {
        margin: 0.5rem 0 0.5rem 0.5rem;
        img {
          width: 70%;
          height: auto;
        }
      }
    }

  }
  #services-cont {
    width: 100%;
    align-items: center;
    margin: 6rem 0;
    background-image: url(./assets/bckg-black.png);
    background-repeat: no-repeat;
    background-size: cover;

    div {
      width: 100%;
      height: auto;
    }
    .serviceCard-2 {
      width: 360px;
      height: 283px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      padding: 2rem;
      margin-top: -18%;
      margin-bottom: 3rem;
      background-color: white;
      border-radius: 20%;

      p {
        text-align: center;
      }
    }
    img {
      width: 100%;
      height: auto;
    }
    button {
      color: white;
      padding: 1rem 2rem;
    }
  }
  .cta {
    width: fit-content;
    height: auto;
    margin: 3rem auto;
    p {
    text-align: center;
    margin: 1rem;
    }
    button {
      display: flex;
      align-items: center;
      justify-content: center;
      color: white;
      font-size: small;

      span {
        margin: 0 .5rem;
      }
    }
  }
  #servicesPill {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem;
    background-image: url(./assets/bckg-deg-2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0% 115%;


    .pills {
      text-align: center;
      margin-top: -20%;
      margin-bottom: 35%;

      img {
        margin: 2rem 0;
      }
    }
  }
  .serviceCard-3 {
    background: #FE8519;
    box-shadow: 40px 40px 100px rgba(24, 48, 63, 0.5);
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .frontCard {
      width: 95%;
      background-color: white;
      border-radius: 40px;
      padding: 6rem 1rem;

      button {
        margin-top: 1.5rem;
      }
    }
    .dropBckg {
      width: 100%;
      height: auto;
      justify-content: end;

      div {
        margin-left: 3rem;

        p {
          font-size: 2em;
        }
      }
    }
  }
  #contact {
    width: 100%;
    height: auto;
    margin: 8rem 0;
    h2 {
      margin: 2rem;
      font-size: 4em;
    }
    form {
      margin: 4rem 2rem;
    }
    div {
      margin: 1rem;
    }
  }
  footer {
    background-color: black;
    width: 100%;
    height: auto;
    p {
      padding: 1rem 0;
    }
  }
}

@media screen and (min-width: 768px) {
  main {
    margin-top: 73px;
  }

  #hero {
    background-image: url('./assets/bckg-mob-1.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: auto;
    .titleContainer {
      padding: 1em;
    }
    img {
      width: 100%;
      height:auto;
    }
    h1 {
      margin-top: 2rem;
      text-align: center;
    }
    p {
      text-align: center;
    }
    .btns {
      display: flex;
      flex-direction: column;
      align-items: center;
      button {
        padding: 1rem 2rem;
      }
      .rrss {
        margin: 2rem;
        display: flex;
        width: 120px;
        height: auto;
        img {
          margin: 0 .5rem;
        }
      }
    }
    .arrowDown {
      width: 100%;
      height: auto;
      margin-top: 40px;

      img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
      }
    }
    .spacer {
      width: 100%;
      height: 400px;
    }
  }

  #services {
    background: transparent;
    margin-top: -30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    .decoration {
      width: 100%;
      padding: 0 0.5rem;
      z-index: 1;
      img {
        float: right;
      }
    }
    .serviceCard {
      width: 90%;
      background-color: white;
      padding: 4rem;
      margin-top: -9%;
      margin-bottom: 6rem;
      border: $border 1px solid;
    }
    button {
      width: 50%;
      margin-top: 2rem;
      font-size: .7rem;
      padding: 0.02rem 2rem;
      display: flex;
      align-items: center;
      align-self: flex-end;
      span {
        margin: 0.5rem 0 0.5rem 0.5rem;
        img {
          width: 70%;
          height: auto;
        }
      }
    }

  }
  #services-cont {
    width: 100%;
    height: auto;
    align-items: center;
    padding-bottom: 23rem;
    background-image: url(./assets/bckg-black.png);
    background-repeat: no-repeat;
    background-size: cover;

    div {
      width: 100%;
      height: auto;
    }
    .serviceCard-2 {
      width: 70%;
      height: auto;
      background-image: url(./assets/card-bckgd.png);
      background-size: contain;
      background-repeat: no-repeat;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 2rem;
      margin-top: -18%;
      margin-bottom: 3rem;
      border-radius: 0;


      p {
        text-align: center;
        margin: 1.5rem 0;
      }
    }
    img {
      width: 100%;
      height: auto;
      margin: 4rem 0;
    }
    button {
      color: white;
      padding: 1rem 2rem;
    }
  }
  .cta {
    width: fit-content;
    height: auto;
    margin-top: -21rem;
    padding: 20px 0;
    align-items: center;
    img {
      margin-bottom: 5rem
    }
    p {
      font-size: 1.5rem;
      text-align: center;
      margin: 0 5rem;
    }
    button {
      width: 50%;
      height: 50px;
      display: flex;
      justify-content: center;
      margin: 2rem 0;
      align-items: center;
      color: white;
      font-size: small;
      &:hover{
        color: white;
        background: $secondary;
      }
      span {
        width: fit-content;
        height: 100%;
        margin: 0 .5rem;
        img {
          width: fit-content;
          height: 90%
        }
      }
    }
  }
  #servicesPill {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(./assets/bckg-deg-2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0% 115%;


    .pills {
      text-align: center;
      margin-top: 0%;
      margin-bottom: 35%;

      img {
        margin: 2rem 0;
      }
    }
  }
  .serviceCard-3 {
    background: #FE8519;
    box-shadow: 40px 40px 100px rgba(24, 48, 63, 0.5);
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .frontCard {
      width: 95%;
      background-color: white;
      border-radius: 40px;
      padding: 6rem 1rem;

      button {
        margin-top: 1.5rem;
      }
    }
    .dropBckg {
      width: 100%;
      height: auto;
      justify-content: end;

      div {
        margin-left: 3rem;

        p {
          font-size: 2em;
        }
      }
    }
  }
  #contact {
    width: 100%;
    height: auto;
    margin: 8rem 0;
    h2 {
      margin: 2rem;
      font-size: 4em;
    }
    div {
      margin: 1rem;
    }
  }
  footer {
    background-color: black;
    width: 100%;
    height: auto;
    p {
      padding: 1rem 0;
    }
  }
}

@media screen and (min-width: 1020px) {
  main {
    margin-top: -3rem;
  }

  #hero {

    background-image: url('./assets/desk-back.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: auto;
    .titleContainer {
      padding: 27em 1em 1em 6em;
    }
    img {
    display: none;
    }
    h1 {
      margin-top: 2rem;
      text-align: left;
    }
    p {
      text-align: left;
    }
    .btns {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-left: 6rem;
      button {
        padding: 1rem 2rem;
      }
      .rrss {
        margin: 2rem;
        display: flex;
        width: 120px;
        height: auto;
        img {
          margin: 0 .5rem;
        }
      }
    }
    .arrowDown {
      width: 40%;
      height: auto;
      margin: 0 auto;
      padding: 3rem 0;

      img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
      }
    }
    .spacer {
      width: 100%;
      height: 400px;
    }
  }

  #services {
    background: transparent;
    margin-top: -16%;
    margin-bottom: 0%;
    display: flex;

    .decoration {
      width: 100%;
      z-index: 1;
      img {
        width: 21%;
        float: right;
      }
    }
    .serviceCard {
      border-radius: 0%;
      width: 70%;
      background-color: white;
      padding: 4rem;
      margin-top: -9%;
      margin-bottom: 11rem;
      border: $border 1px solid;
    }
    button {
      width: 30%;
      margin-top: 2rem;
      font-size: .7rem;
      padding: 0.02rem 2rem;
      display: flex;
      align-items: center;
      align-self: flex-end;
      span {
        margin: 0.5rem 0 0.5rem 0.5rem;
        img {
          width: 70%;
          height: auto;
        }
      }
    }

  }
  #services-cont {
    width: 100%;
    height: auto;
    align-items: center;
    padding-bottom: 23rem;
    background-image: url(./assets/bckg-black.png);
    background-repeat: no-repeat;
    background-size: cover;

    div {
      width: 100%;
      height: auto;
      margin-top: -17%;
    }
    .serviceCard-2 {
      width: 70%;
      height: auto;
      background-image: url(./assets/card-bckgd.png);
      background-size: contain;
      background-repeat: no-repeat;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 3rem;
      margin-top: -18%;
      margin-bottom: 3rem;


      p {
        text-align: center;
        margin: 2rem 0;
      }
    }
    img {
      width: 100%;
      height: auto;
      margin: 4rem 0;
    }
    button {
      color: white;
      padding: 1rem 2rem;
    }
  }
  .cta {
    width: fit-content;
    height: auto;
    margin-top: -21rem;
    margin-bottom: 15rem;
    padding: 20px 0;
    align-items: center;
    img {
      margin-bottom: 5rem
    }
    p {
      font-size: 1.5rem;
      text-align: center;
      margin: 0 5rem;
    }
    button {
      width: 50%;
      height: 50px;
      display: flex;
      justify-content: center;
      margin: 2rem 0;
      align-items: center;
      color: white;
      font-size: small;
      &:hover{
        color: white;
        background: $secondary;
      }
      span {
        width: fit-content;
        height: 100%;
        margin: 0 .5rem;
        img {
          width: fit-content;
          height: 90%
        }
      }
    }
  }
  #servicesPill {
    width: 100%;
    height: 1600px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: baseline;
    padding: 4rem 0;
    background-image: url(./assets/Service-pills.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0% 115%, 0% 0%;

    img {
      display: none;
    }

    .pills {
      display: none;

      img {
        display:  none;
      }
    }
  }
  .serviceCard-3 {
    margin: 10rem 3rem;
    background: #FE8519;
    box-shadow: 40px 40px 100px rgba(24, 48, 63, 0.5);
    border-radius: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;

    .frontCard {
      width: 95%;
      background-color: white;
      border-radius: 40px;
      padding: 6rem 5rem;

      button {
        margin-top: 1.5rem;
      }
    }
    .dropBckg {
      width: 100%;
      height: auto;
      margin-bottom: -1.5%;
      justify-content: end;

      div {
        margin-left: 3rem;

        p {
          font-size: 2em;
        }
      }
    }
  }
  #contact {
    width: 100%;
    height: auto;
    margin: 15rem auto;
    h2 {
      margin: 2rem;
      font-size: 4em;
    }
    form {
      margin: 4rem 8rem;
    }
    div {
      margin: 1rem;
    }
  }
  footer {
    justify-content: flex-end;
    background-color: transparent;
    background-image: url(./assets/FooterBck.svg);
    background-repeat: no-repeat;
    width: 100%;
    height: 430px;
    p {
      color: white;
      padding: 1rem 0;
    }
  }
}

@import "~bootstrap";
