$bgr: #F9F9FB;
$primary: #ED374D;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}

body {
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: $bgr;
}

.f-row {
  display: flex;
  flex-wrap: wrap;
}

.f-col {
  display: flex;
  flex-direction: column;
}

.hide {
  display: none;
}

nav {
  background-color: white;
  width: 100%;
  height: auto;
  padding: .5em;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  a {
    text-decoration: none;
  }
}

#nav-mobile, #nav-desktop {
  align-items: center;
  justify-content: space-between;
  padding: 1em;
}

#hero {
  background-image: url('./assets/Bckg-mob.png');
  background-repeat: no-repeat;
}

@import "~bootstrap"
